[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.1.1"
requests = "==2.18.4"
pysocks = "!=1.5.7,>=1.5.6"

[dev-packages]
pip-tools = "*"
pytest = "*"
python-dotenv = "*"
ipython = "*"
"flake8" = "*"
pylint = "*"
black = "==18.6b4"
yapf = "*"

[requires]
python_version = "3.6"
